{
  "development": {
    "username": "postgres",
    "password": "postgres",
    "database": "memacquire",
    "host": "localhost",
    "dialect": "postgres",
    "apiUrl": "192.168.1.7",
    "apiPort": "5000"
  },
  "test": {
      "username": "",
        "password": "",
        "database": "",
        "port": 5432,
        "host": "",
    "apiUrl": "192.168.1.7",
    "apiPort": "5000",
        "dialect": "postgres",
        "dialectOptions": {
          "ssl": true
        }
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "database_production",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "apiUrl": "192.168.1.7",
    "apiPort": "5000"
  }
}
