{
  "development": {
    "username": "root",
    "password": null,
    "database": "database_development",
    "host": "data-test.db",
    "dialect": "sqlite",
    "storage": "data-test.db"
  },
  "test": {
      "username": "",
        "password": "",
        "database": "",
        "port": 5432,
        "host": "",
        "dialect": "postgres",
        "dialectOptions": {
          "ssl": true
        }
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "database_production",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
